.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** App Header Body Footer **/
.title {
  background-color: #028C6A;
  color: #fff;
  display: table;
  width: 100%;
  margin: 0;
  height: 3rem;
}

.title > h1 {
  text-align: left;
  display: flex;
  padding-left: 1.5rem;
  float: left;
}

.title > .dropdown {
  text-align: left;
  padding-right: 1.5rem;
  float: right;
  display: flex;
  gap: 1em;
}

.container-body {
  margin: 1rem;
}

/** Form */
.form-field{
  text-align: left;
  align-items: start;
  align-content: start;
  width: min-content;
  color: #333;
  margin: 5px;
}
.new-item-container {
  display: inline-block;
  margin: 10px;
  width: -webkit-fill-available;
}

.form-footer {
  display: flex;
    float: right;
    gap: 10px;
}


/** Grid Items */
.grid {
  display: flex;
  grid-template-columns: 19% 19% 19% 19% 19%;
  gap: 10px;
  padding: 10px;
  color: #fff;
  flex-flow: row wrap;
  min-width: 13%;
}

.grid > div {
  background-color: #7BC5AE;  
  text-align: center;
  font-size: 30px;
  display: block;
  font-size: 1rem;
  height: fit-content;
}

.grid-item {
  cursor: grab;
  font-size: 1.25rem !important;
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  background-color: #fff !important;
  position: relative;
  padding: 5px;
  cursor: grab;
  max-width: 250px;
  margin-bottom: 7px;
  min-width: 230px;
  color: #028c6a;
}


/** Buttons */
button {
  cursor: pointer;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin: 20px auto;
  border: none;
}

.btn, .btn:link, .btn:visited {
  background: #0fb3f1fa;
  color: #fefefe;
  transition: box-shadow .18s ease;  
  font-size: 0.8rem;
}

.btn:hover {
  background-color: #f1c40f;
  color: white;
  transition: box-shadow .18s ease-out;
}


/** Modal/Pop UP */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7) !important;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #FE7773;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  border-top: 1px solid #FFD8D8 ;
  max-height: 30%;
  overflow: auto;
  color: #fff;
}
/* Bottom  Line */
.bottom-line {
margin-top: 5px;
border-bottom: 1px solid #3333331a
}

.footer-buttons {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #FFD8D8;
}

.close {
  font-size: 15px;
  text-align: right;
  margin-right: 0.3rem;
  margin-top: -0.3rem;
}

.edit {
  font-size: 10px;
  text-align: right;
  margin-bottom: 0;
}

.task-buttons {
  display: flex;
    float: right;
    gap: 10px;
}
